<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <meta charset="utf-8">
    <title>The Great Filter</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename ='style.css')}}">

  </head>

  <body>
    
    <form action="#" method="post">

      <div class="input-wrapper">

        <div class="fas fa-search" type="submit"></div>
        <input type="text" placeholder="Search Country" name="query"/>
        <div class="fas fa-times" ></div>

      </div>

    </form>

    <div class="hello">
      {% block content_main %}
      {% endblock %}
    </div>

  </body>

</html>
