 * {

  font-size: 1.5rem;

}

.input-wrapper{

  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem
  /* box-shadow: 0rem 0rem 0rem 0rem black; */
}
.News_Blocks{

margin-top: 1rem;
background-color: white;
color: black;
padding-bottom: 20rem;

}

article_title{

  background: white;
  color: black;
  text-align: left;
  font-size:20px;
}

media_source{
  background: white;
  color: black;
  text-align: left;
  font-size:25px;

}

article_url{

  background: white;
  color: black;
  text-align: left;
  font-size:14px;
}

description{

  background: white;
  color: black;
  text-align: left;
  font-size:18px;
}

input {

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: black;
  color: white;
}
