*{

  background-color: black;
  font-size: 1.5rem;
}

.Feature_News{

  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Title_Text_For_Choropleth{
  background-color: white;
  color: black;
  margin-bottom: 0rem;
  padding-top: 0.8rem;
  font-weight: bold;
}

.Note_Using_Python{
  color: black;
  background-color: white;
  font-size: 14px;
}

.Body_Text_For_Choropleth{
  margin-top: 0rem;
  color: black;
  background-color: white;
}
.igraph {
  position: relative;
  background-color: white;
}
.Choropleth_Map {
  background-color: white;
}

h1 {
   color: white;
   font-family: 'Helvetica Neue',sans-serif;
   font-size: 125px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
   text-align:
   center;
}


h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}


h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 0 0 100px;
  text-align: center;
}


.button1{
  border: 3px solid #3498db;
  background: #3498db;
  padding 20px 40px;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Helvetica Neue',sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: center;
  color: white;
  margin-left: 520px;
}

.button1:hover{

  color: #3498db;
}


.input-wrapper{

  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0rem
}

input {

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: black;
  color: white;
}

img {

flex:1;
background: white;
margin: 0rem 0rem 0rem 0rem;
width: 400px;
height: 275px;
border-radius: 8px;
}

.Text_Box{
  background: white;
  margin: 0rem;
  flex: 2;
}

.Box{
  margin: 0rem;
  display: inline-table;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 400px;
  align-content: center;
  height: 600px;
  background: white;
  cursor: pointer;
}

article_title{

  font: caption;
  background:black;
  color: white;
  text-align: left;
  font-size:20px;
  position: right;
  line-height: 0.8;
  box-shadow: none;
}

media_source{
  background: black;
  color: white;
  text-align: left;
  font-size:25px;
  box-shadow: white;
}

article_url{
  text-align: left;
  font-size:12px;
  background: white;
  color: black;
}

description{
  font-style: normal;
  font: caption;
  background:black;
  color: white;
  text-align: left;
  font-size:15px;
}

.a{
  background: white;
}

.Heading{
  background: black;
  margin-top: -0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}
