<!DOCTYPE html>
<html lang="en" dir="ltr">

<div class ="Top">

  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


    <meta charset="utf-8">
    <title>The Great Filter</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename ='style1.css')}}">

  </head>

  <body>

      <form action="#" method="post">

        <div class="input-wrapper">

          <div class="fas fa-search" type="submit"></div>
          <input type="text" placeholder="Search Country" name="query"/>
          <div class="fas fa-times" ></div>

        </div>

      </form>



      <h1> The Great Filter </h1>
    </br>
      <h2> Linking you to important news articles on issues which threaten the survival of the human species. </h2>

      <!-- <button class="button1"> Why is it called The Great Filter? </button> -->
    </br>
      <h3>
        The Great Filter theory is commonly used to explain why humans have been unable to contact extra-terrestrial intelligence.
        The fact that humans have only been able to send radio waves into space fairly recently, indicates to us that another civilization
        in space would have to master such technology before they can contact us.
        It also means that two civilization's would have to be at the same level technologically in the same time period for there
        to be even a possibility of succesful communication. However, It is extremely likely that before such technology is mastered the
        civilization in question destroys itself.
      </br>
      </br>
        Unfortunately, many experts have said that climate change and over-population may be the great filter for humanity.
      </h3>

</div>


    <div class="Feature_News">
      {% block featured_news %}
      {% for item in feature_news %}

      <a href= {{item["Article URL"]}} target="_blank">

        <div class="Box">



            <img src= {{item["Image URL"]}} >

            <div class="Text_Box">
              <div class="Heading">
              <media_source>{{item["Media"]}}</media_source> </br>

              <a href= {{item["Article URL"]}} target="_blank">

              <article_title>{{item["Article Title"]}}</article_title>


              </a>
              </br>
              <description>{{item["Description"]}}</description> </br>
              <!-- <article_url>{{item["Article URL"]}}</article_url> -->
            </br>

            </div>
            </div>


        </div>

      </a>

      {% endfor %}

      {% endblock %}
    </div>


    <div class="Choropleth_Map">
      </br>
      </br>
      </br>
      <h2 class = "Title_Text_For_Choropleth">
        Countries vulnerability to climate change and the readiness to encounter it.
      </h2>

      '<iframe id="igraph" scrolling="yes" style="border:none;" seamless="seamless" src="https://chart-studio.plotly.com/~arzaan/2.embed" height="700" width="100%"></iframe>'

      <h3 class='Note_Using_Python'>
         Note: This Choropleth Map was created using Plotly. A scientific graphing library in Python.
      </h3>
      <h3 class='Body_Text_For_Choropleth'>
         This map is based on the ND-Gain Country Index. An Index created by the Notre Dame Global Adapation Initative. </br>
        </br>
        </br>
         A lower index indicates that a particular country is less vulnerable and/or ready to tackle on the effects of climate change.
       </br>
       </br>
       </br>
       </br>
       </br>
       </br>
     </h3>


    </div>


  </body>

</html>
